<!--begin::Modal-->
<div id="modal-{{action}}" class="modal micromodal-slide" aria-hidden="true">
	<!-- begin::Modalclose -->
	<div class="modal__overlay"  tabindex="-1" data-micromodal-close>
		<!--begin::Page-->
		<div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-{{action}}-title">
			<!--begin::Wrapper-->
			<header class="modal__header">
				<!-- btnCloseModal -->
        		<button class="modal__close fs-1" aria-label="Close modal" data-micromodal-close></button>
			</header>
			<!--end::Wrapper-->
			<!--begin::Content-->
			<div id="modal-{{action}}-content" class="modal__content">
                <iframe
                    title="action modal"
                    width="100%"
                    height="600"
                    allowTransparency="true" 
                    frameborder="0" 
                    scrolling="yes"
                    src="{{modal_path}}">
                </iframe>
			</div>
			<!--end::Content-->
		</div>
		<!--end::Page-->
	</div>
	<!--end::Modalclose-->
</div>
<!--end::Modal-->