{% extends 'index.html.twig' %}

{% block contenu %}
<!--begin::Container-->
<div id="kt_content_container" class="fs-7 p-5">

    <!--begin::Body-->
    <!--begin::About card-->
    <div class="card p-5 border mb-5">
		<!--begin::Body-->

        <h4 class="mb-10">Ajout d'un contenu</h4>

        {# templates/dashboard/add-contenu.html.twig #}
        {{ form_start(form) }}

            {{ form_errors(form) }}
        
        {{ form_rest(form) }} 

        
    </div>
    <!--end::About card-->

    <!--begin::About card-->
    <div class="card p-5 border">

        <h4>Liste des contenus de la catégorie</h4>
        <ul>
            <!-- TO DO Faire une liste -->
        </ul>
    </div>
    <!--end::About card-->

    <!--end::Body-->
</div>
<!--end::Container-->
{% endblock %}
