{% extends 'index.html.twig' %}

{% block contenu %}
<!--begin::Container-->
<div class="container" id="kt_content_container">
    <!--begin::About card-->
    <div class="card">
		<!--begin::Body-->
        
        <!--end::Body-->
    </div>
    <!--end::About card-->
</div>
<!--end::Container-->
{% endblock %}